@{
    ViewBag.Title = "Home - ";
}

@*Added a custom header div titles/content*@

    <div class="jumbotron header-bg">
        <h1>Callam Review Hub</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Want the scoop on the businesses in your community? You've come to the right place! Our reviews are supplied by community members just like you. You'll be able to find just the right place for your next special outing!
            </p>
            <p><a class="btn btn-default" href="~/Reviews">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Write your own</h2>
            <p>Be sure to share your experience! Your honest thoughts help us keep businesses honest and help other community members make the best choice for their next destination.</p>
            <p><a class="btn btn-default" href="~/Reviews/Create">Create Your Own &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact us</h2>
            <p>Be sure to contact us if you have any suggestions or concerns about CRH!</p>
            <p><a class="btn btn-default" href="mailto:ecallam@alumni.nd.edu">Contact Us &raquo;</a></p>
        </div>
    </div>
